

.speech{
font-family: 'Courier New', Courier, monospace;
font-size: medium;
color: black;
}
.direction{
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: small;
color: black;
background-color: orange;

}

.Stockmann{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
    color: cadetblue;

}

.peter Stockmann{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
    color:chartreuse;
}
    

.Hovstad{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;
    color:azure;
    

}

.direction:hover{
background-color: dodgerblue;
color: blueviolet;

}
.table, th, td{
    border: 1.2px solid;
    color: fuchsia;
    text-align: left;
    padding: 0px;
    margin: 0px;




}
